.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    appearance: none;
    box-sizing: border-box;
    display: block;
  }

  .button:hover {
    opacity: .6;
  }